<a routerLink="" routerLinkActive="active" class="nav-link">Home</a>

<button (click)="addQuest()">add quest</button>
<!-- <button (click)="ShowQuests()">Show Quests</button>
  @if(showQuests) {
  <app-quests></app-quests>
} -->


<ul>
  @for (quest of quests(); track quest.id) {
    <li>
      <h1>{{ quest.title }}</h1>
      <p>{{ quest.desc }}</p>
      <span>Experience: {{ quest.exp }} XP</span>
      
      @if (quest.exp > 100) {
        <p style="color: red; font-weight: bold;">MEGA XP!</p>
      }
      @else if (quest.exp > 50) {
        <p style="color: green; font-weight: bold;">SUPER XP!</p>
      }

      <button (click)="removeQuest(quest.id)">Remove</button>
      <a [routerLink]="['/quests', quest.id]">{{ quest.title }}</a>

    </li>
  }
  @empty {
    <li>No quests available.</li>
  }
</ul>